.item-sub {
	font-size: 12px !important;
	height: 40px !important;
	padding-bottom:10px !important;
}

.span-broll {
	margin-left:60px !important;
	margin-right:20px !important;
	font-size:13px !important;
	font-weight: bold;
}

.span-times {
	margin-left:37px !important;
	margin-right:2px !important;
	font-size: 13px !important;
	font-weight: bold;
}

.span-result {
	position:absolute;
	top:16px;
	left:140px;
}

.span-result-s {
	position:absolute;
	top:16px;
	left:175px;
}

.span-result-s-done {
	position:absolute;
	top:16px;
	left:175px;
	color:#ef473a;
	font-weight:bold;
}

.span-result-done {
	color:#ef473a !important;
	font-weight:bold;
}

.span-smalltext {
	font-size: 13px !important;
}

.span-greyed-out {
	color: #bfbfbf !important;
}

.span-smallertext {
	font-size: 11px !important;
}

.button-right-bar-mine {
	position:absolute;
	max-height:30px !important;
	right:10px !important;
}

.selected-career {
	border-width: 3px !important;
	border-color: #ef473a;
}

.td-wide {
	text-align: center !important;
	min-width:100px !important;
	width:100px !important;
	padding:2px;
}

.td-wide-eft {
	text-align: left !important;
	min-width:100px !important;
	width:100px !important;
	padding:2px;
}

.td-narrow {
	text-align: center !important;
	min-width:30px !important;
	width:30px !important;
	padding:2px;	
}

.td-widest {
	text-align: center !important;
	min-width:200px !important;
	width:200px !important;
	padding:2px;		
}

.my-tr {
	margin-bottom:5px;
}